@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <header>
        <nav class="d-flex justify-content-center gap-4 m-3">
            <a href="/Students/GetAll" class="btn btn-secondary">Get All</a>
            <a href="/Students/Create" class="btn btn-secondary">Create</a>
            <a href="/Students/Update" class="btn btn-secondary">Update</a>
            <a href="/Students/Delete" class="btn btn-secondary">Delete</a>
        </nav>
    </header>
    <main>
        <h1 class="d-flex justify-content-center align-items-center m-5">CREATE PAGE</h1>
    </main>
    <footer>
        <p class="text-center text-white fixed-bottom bg-secondary p-3">this is footer</p>
    </footer>
</body>
</html>
